.diary_header {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font: normal 11px/1 arial, sans-serif;
    font-size: 1.8rem;
    line-height: 120%;
    width: 700px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.header {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font: normal 11px/1 arial, sans-serif;
    font-size: 2.4rem;
    line-height: 120%;
    width: 700px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.text {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: black;
    font: normal 11px/1 arial, sans-serif;
    font-size: 1.4rem;
    line-height: 120%;
    width: 700px;
}
